header {
    background: url('../public/header1.svg') no-repeat;
    width: 100%;
}

.header-container {
    padding-top: 70px;
}

.header-titles {
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
}

#title1_header {
    font-size: 20px;
    font-weight: normal;
}

#title2_header {
    font-size: 40px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 24px;
}

#title3_header {
    font-size: 14px;
    font-weight: normal;
}

nav {
    text-align: center;
    padding-bottom: 129px;
}

.item-nav {
    display: inline-block;
    margin: 40px;
}

.button-nav {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    width:160px;
    height:40px;
    background-color: #fff;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #888888;
    text-align: center;
}

@media only screen and (max-width: 768px) {
 
.header-container {
    padding-top: 50px;
}

.header-titles {
    text-align: left;
    padding-left: 16px;
    padding-bottom: 46px;
    padding-right: 10px;
}

#title2_header {
    padding-top: 0;
    padding-bottom: 9px;

}

nav {
    padding-bottom: 69px;
}

.item-nav {
    margin: 10px;
}

}
